<!DOCTYPE html>
<html lang="en" ng-app="tempoCM">
<head>
    <meta charset="UTF-8">
    <title>tempo-cm prototype</title>
</head>

<body >
<!--escape Jinja templating as it conflicts with angular tags-->
{% raw %}
    <div ng-controller="mainCtrl">{{ message }}</div>
    <div ng-controller="menuCtrl">{{ fromMenu }}</div>
{% endraw %}

<script src="../static/bower_components/angular/angular.min.js"></script>

<script src="../static/client/app.js"></script>
<script src="../static/client/menu/menu.js"></script>
</body>
</html>